<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
 <specFlow>
    <stepAssemblies>
      <stepAssembly assembly="eFormsTA.StepDefinitions" />
      <stepAssembly assembly="eFormsTA.Framework" />
    </stepAssemblies>
    <unitTestProvider name="MsTest" generatorProvider="eFormsTA.Framework.Helpers.MsTestCustomProvider, eFormsTA.Framework" runtimeProvider="TechTalk.SpecFlow.UnitTestProvider.MsTest2010RuntimeProvider, TechTalk.SpecFlow" />
    <generator path="bin\Debug" />
  </specFlow>
  <appSettings configSource="Config.config" />
</configuration>