<?xml version="1.0" ?>
<appSettings>
  <!-- Credentials -->
  <add key="Username" value="ruzaliia.preprod"/>
  <add key="Password" value="preproduction"/>

  <!-- URL Settings -->
  <!-- =================== -->
  <add key="ProtocolName" value="https"/>
  <add key="HostName" value="accounts.google.com"/>
  <add key="loginPath" value="/ServiceLogin"/>
  <add key="loginParametersAndValues" value="?service=mail&amp;passive=true&amp;rm=false&amp;continue=https://mail.google.com/mail/&amp;ss=1&amp;scc=1&amp;ltmpl=default&amp;ltmplcache=2&amp;emr=1&amp;osid=1#identifier"/>

  <!-- Browser Settings -->
  <add key="browserType" value="Chrome"/>
</appSettings>